    
{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "rules": {
    "max-len": ["error", 120],
    "jest/no-empty-title": ["error"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}