{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": [
      "warn",
      {
        "ignoreUrls": true,
        "code": 120,
        "ignoreRegExpLiterals": true
      }
    ],
    "@typescript-eslint/indent": ["error", 2],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["bot"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}